<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Spring Boot MVC - Show product page</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--
        The cdn link enables us to view html document with CSS styles without a running server.
        Thymeleaf generates the appropriate resource URLs when running via the "webjars-locator" -->

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.4.1/jquery.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{/css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-sm-12 align-middle">
            <h2>Show Product</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">Product Id:</div>
        <div class="col-sm-10" th:text="${product.id}"></div>
    </div>
    <div class="row">
        <div class="col-sm-2">Description:</div>
        <div class="col-sm-10" th:text="${product.description}"></div>
    </div>
    <div class="row">
        <div class="col-sm-2">Price:</div>
        <div class="col-sm-10" th:text="${product.price}"></div>
    </div>
    <div class="row">
        <div class="col-sm-2">Image URL:</div>
        <div class="col-sm-10" th:text="${product.imageUrl}"></div>
    </div>

    <div class="row">
        <a th:href="@{/products}">Back to products list</a>
    </div>
</div>
</body>
</html>
