<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header (pagetitle)">

  <title th:text="${pagetitle}">My first Spring Boot MVC web page</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

  <!--
      The cdn link enables us to view html document with CSS styles without a running server.
      Thymeleaf generates the appropriate resource URLs when running via the "webjars-locator" -->

  <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" media="screen"
        th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

  <script src="http://cdn.jsdelivr.net/webjars/jquery/3.4.1/jquery.min.js"
          th:src="@{/webjars/jquery/jquery.min.js}"></script>

  <link href="../../static/css/spring-core.css"
        th:href="@{/css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
